# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      # use `-browsers` prefix for selenium tests, e.g. `3.6.1-browsers`
      - image: tianhaoz95/desktop-ros-docker-image:kinetic

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/postgres:9.4

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "requirements.txt" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run:
          name: install python dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt

      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies-{{ checksum "requirements.txt" }}

      # run tests!
      # this example uses Django's built-in test-runner
      # other common Python testing frameworks include pytest and nose
      # https://pytest.org
      # https://nose.readthedocs.io
      - run:
          name: check native pip packages
          command: |
            pip list

      - run:
          name: check venv pip packages
          command: |
            . venv/bin/activate
            pip list

      - run:
          name: install botx module
          command: |
            git clone https://github.com/superbotx/botX
            cd botX
            python3 setup.py build
            python3 setup.py install

      - run:
          name: test botx installation
          command: |
            botX version

      - run:
          name: install botx dependencies
          command: |
            source /opt/ros/kinetic/setup.bash
            botX install

      - run:
          name: run unit tests
          command: |
            source /opt/ros/kinetic/setup.bash
            cp -r botXsrc tests
            cp -r botX_modules tests
            pytest cov=botXsrc

      - run:
          name: send coverage report
          command: |
            codecov

      - store_artifacts:
          path: test-reports
          destination: test-reports
